html {
    overflow: auto;
}

#alphabet-chart {
    display: table;
    border-spacing: 4px;
}

.chart-row {
    display: table-row;
}

.chart-cell {
    display: table-cell;
    border: 1px solid black;
    margin: 4px;
    vertical-align: top;
}

div.add-new-cell {
    vertical-align: middle;
}

button.add-new-cell {
    display: block;
    margin: auto;
}

.chart-cell .btn-group {
    float: right;
    margin: 3px;
}

.chart-cell .image-wrapper, .image-placeholder {
    height: 150px;
    width: 150px;
    margin: 8px 16px 4px 16px;
}

.chart-cell .image-placeholder {
    background-color: grey;
    display: flex;
    align-items: center;
    cursor: pointer
}

.chart-cell .image-wrapper {
    display: flex;
    align-items: center;
}

.chart-cell input {
    font-size: 48px;
    width: 48px;
    border: 0;
    cursor: pointer;
    margin-left: 16px;
}

.btn-x-large {
    padding: 15px 30px;
}

.icon-large {
    font-size: 24px;
}